.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor {
    display: flex;
    flex-direction: row-reverse;
}
.decrip {
    display: flex;
    flex-direction: column;
    align-items:flex-end
}