.proy {
display: flex;
    gap: 1.5rem; /* Aquí puedes ajustar el valor según sea necesario */
    padding: 1rem;
}

@media (min-width: 640px) {
    .proy {
        padding: 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .proy {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .proy {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

