.proy {
    display: flex;
    gap: 1.5rem; /* Espacio entre los proyectos */
    padding: 1rem;
  }
  
  .proyecto {
    flex: 1 0 calc(100% - 1.5rem); /* Ocupar todo el ancho del contenedor y restar el espacio entre proyectos */
    margin-bottom: 1.5rem;
  }
  
  @media screen and (max-width: 767px) {
    .proy {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* Centrar los proyectos en dispositivos móviles */
      gap: 1.5rem; /* Espacio entre los proyectos */
      padding: 1rem;
    }
  
    .proyecto {
      flex-basis: calc(100% - 1.5rem); /* Un proyecto por fila en dispositivos móviles */
    }
  }
  